@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", sans-serif;
  color: $color-white;
  line-height: 1.5;
}

.header {
  &--1 {
    font-size: 7rem;
    color: $color-white;
  }
}

.message {
  list-style: none;

  &__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 0.25rem;
    font-size: 1.6rem;
  }

  &__text {
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation: typing 1s steps(30, end);
    animation: typing 1s steps(30, end);
  }
}
