* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: 900px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 700px) {
    font-size: 40%;
  }

  @media only screen and (max-width: 500px) {
    font-size: 30%;
  }
}

body {
  min-height: 100vh;
  background: linear-gradient(
    to top left,
    $color-background-1,
    $color-background-2
  );
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
