.message {
  height: 100%;
  width: 100%;
  max-width: 150rem;
  justify-self: center;
  overflow: hidden;

  border-radius: 3px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  &__line {
    margin-top: 2.5rem;
    max-width: 100rem;
  }
}
