@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background: linear-gradient(to top left, #1d4350, #a43931); }

body {
  font-family: "Press Start 2P", sans-serif;
  color: #fff;
  line-height: 1.5; }

.header--1 {
  font-size: 7rem;
  color: #fff; }

.message {
  list-style: none; }
  .message__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 0.25rem;
    font-size: 1.6rem; }
  .message__text {
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation: typing 1s steps(30, end);
    animation: typing 1s steps(30, end); }

.text-box {
  height: 80%;
  width: 80%;
  padding: 1.5rem 6rem;
  background-color: rgba(204, 204, 204, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.7);
  justify-self: center;
  display: flex;
  justify-content: center; }

.container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center; }

.header--1 {
  width: max-content;
  justify-self: center;
  margin: 2.5rem 0;
  padding: 3rem 7rem;
  border-radius: 100rem;
  background-color: rgba(204, 204, 204, 0.2);
  -webkit-box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.7); }

.message {
  height: 100%;
  width: 100%;
  max-width: 150rem;
  justify-self: center;
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end; }
  .message__line {
    margin-top: 2.5rem;
    max-width: 100rem; }

.options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 180rem;
  margin-bottom: 3rem;
  list-style: none; }
  .options__btn {
    height: 15rem;
    width: 15rem;
    font-size: 1.8rem;
    padding: 1rem;
    margin: 1rem 1rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.3);
    transition: all 0.2s; }
    .options__btn:hover {
      transform: translateY(-3px);
      background-color: rgba(204, 204, 204, 0.5); }
    .options__btn:active {
      transform: translateY(3px);
      box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.3); }

.respons {
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center; }
  .respons__btn {
    height: 15rem;
    width: 15rem;
    margin-left: 6rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.4s;
    font-size: 5rem; }
    .respons__btn:hover {
      transform: rotate(360deg);
      background-color: rgba(204, 204, 204, 0.5); }
    .respons__btn:active {
      transform: translateY(5px);
      box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.3); }
  .respons__text {
    display: block;
    height: 15rem;
    width: 45vw;
    max-width: 70rem;
    border-radius: 0.5rem;
    border: none;
    padding: 1.5rem 2rem;
    font-size: 5rem;
    color: #555555;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.3);
    transition: all 0.2s; }
    .respons__text:focus {
      outline: none;
      transform: translateY(-5px);
      box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.4); }

.hidden {
  display: none; }
