.exit {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  height: 3rem;
  width: 3rem;

  border: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 1rem 5rem rgba($color-black, 0.3);

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-grey-light;
  }
}
