.magic8ball {
  height: 100%;
  width: 100%;
  max-width: 150rem;

  h2 {
    text-align: center;
  }
}

.magic {
  height: 90%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
