.ttt {
  &__game {
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    grid-gap: 1rem;

    margin-bottom: 0.5rem;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 6rem;
    color: $color-black;
    background-color: rgba($color-white, 0.2);
    cursor: pointer;

    box-shadow: 0 0.2rem 0.5rem rgba($color-black, 0.5);
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 calc(0.2rem + 2px) 0.5rem rgba($color-black, 0.5);
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: 0 calc(0.2rem + 1px) 0.5rem rgba($color-black, 0.5);
      transform: translateY(-1px);
    }
  }
}
