.message {
  width: 100%;
  max-width: 150rem;
  // overflow-y: scroll;

  // display: grid;
  // grid-template-rows: minmax(0, 30rem);

  &__list {
    width: 100%;
    max-width: 150rem;
    justify-self: center;
    // overflow-y: auto;

    border-radius: 3px;
    list-style: none;

    display: grid;
    grid-auto-rows: min-content;
    align-content: end;
  }

  &__text {
    margin-bottom: 2.5rem;
    max-width: 100rem;
    overflow: visible;
  }
}
