.options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;
  max-width: 180rem;
  margin-top: 2rem;
  margin-bottom: 3rem;

  list-style: none;

  &__btn {
    font-size: 1.8rem;
    padding: 1rem;
    margin: 1rem 1rem;

    transition: all 0.2s;
  }
}
